-- 01_schema.sql - E-commerce Database (MSSQL + Oracle compatible comments)
USE [ecommerce-oracle-sql];
GO

DROP TABLE IF EXISTS order_items;
DROP TABLE IF EXISTS payments;
DROP TABLE IF EXISTS reviews;
DROP TABLE IF EXISTS orders;
DROP TABLE IF EXISTS inventory;
DROP TABLE IF EXISTS products;
DROP TABLE IF EXISTS categories;
DROP TABLE IF EXISTS customers;
GO

CREATE TABLE categories (
    category_id   INT IDENTITY(1,1) PRIMARY KEY,
    name          VARCHAR(100) NOT NULL,
    description   VARCHAR(500)
);

CREATE TABLE products (
    product_id    INT IDENTITY(1,1) PRIMARY KEY,
    name          VARCHAR(200) NOT NULL,
    category_id   INT FOREIGN KEY REFERENCES categories(category_id),
    price         DECIMAL(10,2) NOT NULL,
    stock         INT DEFAULT 100
);

CREATE TABLE customers (
    customer_id        INT IDENTITY(1,1) PRIMARY KEY,
    name               VARCHAR(150) NOT NULL,
    email              VARCHAR(100) UNIQUE,
    registration_date  DATE DEFAULT GETDATE()
);

CREATE TABLE orders (
    order_id          INT IDENTITY(1,1) PRIMARY KEY,
    customer_id       INT FOREIGN KEY REFERENCES customers(customer_id),
    order_date        DATE DEFAULT GETDATE(),
    status            VARCHAR(20) DEFAULT 'completed' CHECK (status IN ('pending','completed','cancelled')),
    total_amount      DECIMAL(12,2)
);

CREATE TABLE order_items (
    order_item_id INT IDENTITY(1,1) PRIMARY KEY,
    order_id      INT FOREIGN KEY REFERENCES orders(order_id),
    product_id    INT FOREIGN KEY REFERENCES products(product_id),
    quantity      INT NOT NULL,
    unit_price    DECIMAL(10,2) NOT NULL
);

CREATE TABLE payments (
    payment_id   INT IDENTITY(1,1) PRIMARY KEY,
    order_id     INT FOREIGN KEY REFERENCES orders(order_id),
    payment_date DATE DEFAULT GETDATE(),
    amount       DECIMAL(12,2) NOT NULL,
    method       VARCHAR(50) DEFAULT 'card'
);

CREATE TABLE reviews (
    review_id   INT IDENTITY(1,1) PRIMARY KEY,
    product_id  INT FOREIGN KEY REFERENCES products(product_id),
    customer_id INT FOREIGN KEY REFERENCES customers(customer_id),
    rating      INT CHECK (rating BETWEEN 1 AND 5),
    comment     VARCHAR(1000),
    review_date DATE DEFAULT GETDATE()
);

CREATE TABLE inventory (
    inventory_id INT IDENTITY(1,1) PRIMARY KEY,
    product_id   INT FOREIGN KEY REFERENCES products(product_id),
    quantity     INT NOT NULL,
    last_updated DATE DEFAULT GETDATE()
);

PRINT 'Schema utworzone pomyślnie';
GO